.dialog-content-container {
  width: 100%;
  height: 28vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .field {
    display: flex;

    .label {
      width: 30%;
    }

    .order-data {
      width: 50%;
      white-space: pre-wrap;
      overflow-wrap: break-word;

      &.text-area {
        width: 70%;
        height: 10vh;
      }
    }
  }
}